@media screen and (min-width: 360px) {
  .boxAccordance {
    display: flex;
    align-items: start;
    gap: 16px;
  }
  
  .imgAccordance {
    width: 48px;
    height: 48px;
  }
  
  .pAccordance {
    font-size: 12px;
  }

  .spanAccordance {
    font-weight: 700;
  }
}