@media screen and (min-width: 360px) {
  .boxStepsBuy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    gap: 5px;
  }
}

@media screen and (min-width: 1500px) {
  .boxStepsBuy {
    width: 1245px;
    justify-content: space-around;
  }
}