@media screen and (min-width: 360px) {
  .boxComponentStep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 37px;
    gap: 8px;
  }

  .pStep {
    font-size: 12px;
  }

  .current {
    font-weight: 700;
  }
}

@media screen and (min-width: 1500px) {
  .boxComponentStep {
    flex-direction: row;
  }

  .pStep {
    font-size: 20px;
  }
}